<?xml version="1.0"?>

<model>
  <name>warehouse_building</name>
  <version>1.0</version>
  <sdf version='1.5'>warehouse_building.sdf</sdf> <!-- indicate the filename of the sdf that defines the model -->

  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    A factory building downloaded from 3dwarehouse.com
    https://3dwarehouse.sketchup.com/model/25e565a1761c0d2e9bbe4f1047e9e5fd/factory
  </description>
</model>